@media screen and (min-width:777px){
    .nav-link {
      padding:18px 0;
      min-width:120px;
    }
    .navbar {
      padding: 0
      
    }
  }
.navbar{
  overflow: hidden;
}
.nav-item a{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  top: 15px;
  color: rgb(255, 255, 255) !important;
}
.nav-item:hover a{
  background-color: #293033;

  transform: translateY(-10px);
  transition: 0.5s;
}
.user:hover{
  
  background-color: #293033;
  transform: translateY(-10px);
  transition: 0.5s;
}
.col img{
  padding: 5px;
  width: 200px;
  height: 200px;
}

