*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    overflow-x: hidden;
}

.wrapper{
    transition: all 0.5s linear;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url(../IMAGE/BackGroud_SignUp.jpg) center/cover no-repeat;
}

.wrapper .form-box.login{
    transition: 0.5s;
}

.wrapper.active .form-box.login{
    transition: none;
}

.wrapper .form-box.register{
    display: none;
    transition: none;
    position: absolute;
}
.wrapper.active .form-box.register{
    transition: 0.5s;
    
}

ion-icon{
    font-weight: 900;
}
.wrapper .form-box{
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    /* border-left: 2px solid transparent; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    /* animation: spinner 1s linear ; */
}

.wrapper .form-box::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    color: #000;
    z-index: 99;
}

@keyframes spinner {
    from {
        transform: rotate(360deg);
    }
}

h1{
    text-align: center;
    font-size: 2em;
}
.input-box{
    position: relative;
    border-bottom: 2px solid rgb(156, 144, 144);
    margin: 30px 0;
    width: 300px;
}
.input-box input{
    border: none;
    outline: none;
    width: 100%;
    height:100%px;
    background-color: transparent;
    padding: 10px;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transition: 0.5s;
    pointer-events: none;
    font-weight: 600;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: -5px;
}
.input-box ion-icon{
    position: absolute;
    right: 8px;
    top: 5px;
}
.forget{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.forget label{
    accent-color: rgb(17, 16, 16);
}
.forget a{
    text-decoration: none;
    color: #000;
    display: flex;
    font-weight: 700;
}
.forget div:hover a{
    transform: translateX(-10px);
    transition: 0.5s;
}
.forget div {
    display: flex;
    gap: 10px;
 

}
.forget div img{
    opacity: 0;
    width: 20px;
}

.forget div:hover img{
    opacity: 1;
    transform: translateX(-10px);
    transition: 0.5s;
}
.forget label {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}
.forget div:hover a{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 900;
    opacity: 0.6;
}

button:hover{
    opacity: 0.9;
    transition: 0.5s;
    transform: translateY(5px);
}
.login-register{
    font-size: .9em;
    text-align: center;
    margin-top: 20px;
    position: relative;
}
.login-register p  {
    position: absolute;
    margin: -11px 50px;
    font-weight: 600;
}
.login-register a{
    position: absolute;
    right: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 900;

}
.login-register:hover a {
    position: absolute;
    text-decoration: underline;
    transition: 0.5s;
    transform: translateY(15px);
}
.login-register div {
    position: absolute;
    right:40px;
    top: -10px;
}
.form-box.register .login-register p  {
    position: absolute;
    margin: -11px 30px;
    font-weight: 600;
}
.form-box.register .login-register a{
    position: absolute;
    right: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 900;

}

.login-register div img{
    opacity: 0;
    width: 20px;

}
.login-register div:hover  img{
    opacity: 1;
    transition: 0.5s;
    transform: translateX(-40px);
}

.return-home a{
    position: relative;
    bottom:  -145px;
    right: 50px;
}
.form-box.register .return-home a{
    position: relative;
    bottom:  -215px;
    right: 50px;
}
.return-home img{
    width: 30px;
}
.return-home img:hover {
    transition: 0.5s;
    transform: translateX(-10px);

}
/* @media screen and (max-width : 350px){
    .return-home img {
        display: none;
    }
    
} */

.hide{
    opacity: 0;
}

.centerToLeft {
    animation: centerToLeft 1s linear; 
}

.leftToCenter {
    animation: leftToCenter 1s linear; 
}

@keyframes centerToLeft {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes leftToCenter {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.rightToCenter {
    animation: rightToCenter 1s linear; 
}

.centerToRight {
    animation: centerToRight 1s linear; 
}



@keyframes rightToCenter {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes centerToRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}